<div class="container mt-5 pt-3">
  <div>
    <h1><%= t '.title' %></h1>
    <hr class="mt-2">
    <p class="mt-5 fs-5">Stamp Bon Voyage（以下、「当方」といいます。）は、本ウェブアプリ上で提供するサービス（以下、「本サービス」といいます。）におけるお客様の個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>
  </div>
  <div class="mt-5">
    <h3>お客様から取得する情報</h3>
    <p class="fs-5 mt-4">当方は、お客様から以下の情報を取得します。</p>
    <ul class="pp-list fs-5 mt-3">
      <li>氏名（ニックネームやペンネームも含む）</li>
      <li>メールアドレス</li>
      <li>その他当サービスが定める入力フォームにお客様が入力する情報</li>
      <li>Cookie（クッキー）を用いて生成された識別情報</li>
      <li>本サービスの滞在時間、入力履歴、購買履歴等の本サービスにおけるお客様の行動履歴</li>
      <li>本サービスの滞在時間、入力履歴等の行動履歴</li>
    </ul>
  </div>
  <div class="mt-5">
    <h3>お客様の情報を利用する目的</h3>
    <p class="fs-5 mt-4">本サービスは、お客様から取得した情報を、以下の目的のために利用します。</p>
    <ul class="pp-list fs-5 mt-3">
      <li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様の本サービスの利用履歴を管理するため</li>
      <li>本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>本サービスの利用規約や法令に違反する行為に対応するため</li>
      <li>本サービスの変更、提供中止、終了、契約解除を連絡するため</li>
      <li>本サービス規約の変更等を通知するため</li>
      <li>以上の他、管理者サービスの提供、維持、保護及び改善のため</li>
    </ul>
  </div>
  <div class="mt-5">
    <h3>安全管理のために講じた措置</h3>
    <p class="fs-5 mt-4">当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
  </div>
  <div class="mt-5">
    <h3>第三者提供</h3>
    <p class="fs-5 mt-4">当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。<br>但し、次の場合は除きます。</p>
    <ul class="pp-list fs-5 mt-3">
      <li>個人データの取扱いを外部に委託する場合</li>
      <li>当方や本サービスが買収された場合</li>
      <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
      <li>その他、法律によって合法的に第三者提供が許されている場合</li>
    </ul>
  </div>
  <div class="mt-5">
    <h3>アクセス解析ツールについて</h3>
    <p class="fs-5 mt-4">当方は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。 Googleアナリティクスについて、詳しくは<%= link_to 'Google アナリティクス利用規約', 'https://marketingplatform.google.com/about/analytics/terms/jp/', class: 'analytics text-info', target: '_blank', rel: 'noopener noreferrer' %>をご確認ください。</p>
  </div>
  <div class="mt-5">
    <h3>プライバシーポリシーの変更</h3>
    <p class="fs-5 mt-4">当方は、必要に応じて、本ポリシーの内容を変更します。本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、お客様に通知することなく、変更することができるものとします。当方が別途定める場合を除いて、変更後のプライバシーポリシーは、本サービス中のウェブページに掲載したときから効力を生じるものとします。</p>
  </div>
  <div class="mt-5">
    <h3>お問合せ</h3>
    <p class="fs-5 mt-4">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、<%= link_to 'お問い合わせフォーム', "https://forms.gle/X4wf1BAJoR4xbuoQA" %> からご連絡ください。</p>
  </div>
  <div class="mt-48">
    <p class="fs-4">以上</p>
    <p class="fs-4 mt-2">2023年9月19日制定</p>
  </div>

</div>
