<% content_for(:title, t('.title')) %>
<div class="container mt-5">
  <div class="row pt-3 mb-3">
    <% if @grouped_stamps.present? %>
      <% @grouped_stamps.each do |stamp_rally_id, stamps| %>
        <%= render 'stamps/stamps', stamps: stamps %>
      <% end %>
    <% else %>
      <div class="col-12">
        <p class="text-center">スタンプラリーに参加してスタンプを集めてね！</p>
        <div class="text-center"><%= link_to 'みんなのスタンプラリーへ', stamp_rallies_path %></div>
      </div>
    <% end %>
  </div>
</div>
