<header class="mb-5 pb-3">
  <nav class="navbar navbar-light bg-info fixed-top">
    <div class="container-fluid">
      <%= link_to "Stamp Bon Voyage", root_path, class: "navbar-brand" %>
      <ul class="navbar-nav ms-auto" style="flex-direction: row;">
        <li class="nav-item">
          <%= link_to t('defaults.register'), signup_path, class: "nav-link active me-2" %>
        </li>
        <li class="nav-item">
          <%= link_to t('defaults.login'), login_path, class: "nav-link active" %>
        </li>
      </ul>
    </div>
  </nav>
</header>
