<header class="mb-5 pb-3">
  <nav class="navbar navbar-light bg-info fixed-top">
    <div class="container-fluid">
      <%= link_to "Stamp Bon Voyage", top_path, class: "navbar-brand" %>
        <%= render 'shared/burgermenu' %>
    </div>
  </nav>
</header>
