<div class="col-md-12">
  <% if user_signed_in? %>
    <% if current_user.participate?(@stamp_rally) %>
      <%= link_to '参加をやめる', stamp_rally_participant_path(@stamp_rally),
                                class: 'btn btn-danger',
                                data: { "turbo-method": :delete } %>
    <% else %>
      <%= link_to '参加する', stamp_rally_participant_path(@stamp_rally),
                            class: 'btn btn-primary',
                            data: { "turbo-method": :post } %>
    <% end %>
  <% end %>
</div>
<div class="col-md-12">
  <% if current_user.own?(@stamp_rally) %>
    <%= link_to '編集', edit_stamp_rally_path(@stamp_rally) %>
  <% end %>
</div>
