<div class="row">
  <div class="col-12">
    <div class="row">
      <% if stamp_rallies.present? %>
        <%= render stamp_rallies %>
      <% elsif !user_signed_in? %>
        <p class="text-center"><%= t 'defaults.message.require_login' %></p>
        <%= link_to t('defaults.login'), login_path %>
      <% else %>
        <h3 class="text-center"><%= t 'defaults.message.not_present' %></h3>
      <% end %>
    </div>
  </div>
</div>
