<h1>StampRallies#index</h1>
<div class="row">
  <div class="col-12">
    <div class="row">
      <%= render 'shared/search_form' %>
      <% if @stamp_rallies.present? %>
        <%= render @stamp_rallies %>
      <% else %>
        <p>ありませぬ</p>
      <% end %>
    </div>
  </div>
</div>
