<p><%= @resource.name %>様</p>

<p>平素はご利用いただきありがとうございます。</p>

<p>以下のURLをクリックして、パスワードをリセットしてください。</p>
<p><%= link_to 'パスワード変更先リンク', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>引き続き、ご愛顧のほどよろしくお願い申し上げます。🐹</p>

<p>お心当たりのない方は、こちらのメールを無視してください。</p>

<p>Stamp Bon Voyage</p>
